{% extends "base.html" %} 
{% block title %}{{super()}}{% endblock %} 
{% block head %} 
{{ super() }}
{% endblock %} 
{% block page_content %}
<div>
    <h1>欢迎使用Ins后台管理系统</h1>
    <h3>登录</h3>
    <form action="{{ url_for('login') }}" method="post">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    {{ form.email.label }} {{ form.email}}<br>
{{form.password.label}}{{form.password}}<br>
    <input type="submit" value="提交">
    </form>
</div>
{% endblock %} 
{% block scripts %} 
{{ super() }} 
{% endblock %}
