{% extends "base.html" %} 
{% block title %}Post-{{super()}}{% endblock %}
{% block head %} 
{{ super() }}
{% endblock %} 
{% block page_content %}
<div>
    <ul class="nav nav-tabs actions-nav">
        <li class="active"><a href="javascript:void(0)">Posts</a></li>
        <li><a href="#">Create</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
                Add Filter<b class="caret"></b>
            </a>
            <ul class="dropdown-menu field-filters">
                <li><a href="javascript:void(0)" class="filter" onclick="return false;">Title</a></li>
            </ul>
        </li>
    </ul>
    <div>
        <table class="table table-bordered">
        {% for p in posts %}
        <p>{{p.text|safe}}</p>
        {% endfor %}
        </table>
    </div>
    <nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% for i in range(0, pages) %}
        <li class="{% if i == page %}active{% else %}{% endif %}"><a href="/post?page={{i}}">{{i}}</a></li>
    {% endfor %}
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</div>
{% endblock %} 
{% block scripts %} 
{{ super() }}
{% endblock %}
