{% extends "base.html" %} 
{% block title %}User-{{super()}}{% endblock %}
{% block head %} 
{{ super() }}
{% endblock %} 
{% block page_content %}
<div>
    <ul class="nav nav-tabs actions-nav">
        <li class="active"><a href="javascript:void(0)">Users</a></li>
        <li><a href="{{url_for('user_create')}}">Create</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
                Add Filter<b class="caret"></b>
            </a>
            <ul class="dropdown-menu field-filters">
                <li><a href="javascript:void(0)" class="filter" onclick="return false;">Title</a></li>
            </ul>
        </li>
    </ul>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Avatar</th>
                    <th>Email</th>
                    <th>Desc</th>
                    <th>ThirdID</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for u in users %}
                <tr>
                    <th>{{u.id}}</th>
                    <th>{{u.name}}</th>
                    <th><img src="{{u.avatar}}" width=30 height=30 ></th>
                    <th>{{u.email}}</th>
                    <th>{{u.desc}}</th>
                    <th>{{u.third_id}}</th>
                    <th>{{u.type}}</th>
                    <th>
                        <button onclick="DeleteClick('{{u.id}}')">X</button>
                        <button onclick="EditClick('{{u.id}}')">E</button>
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %} 
{% block scripts %} 
{{ super() }}
<script>
function DeleteClick(id) {
    url = '/user/delete'
    data = {"id":id}
    $.ajax({
        url: url,
        type: "post",
        dataType: "json",
        contentType: "application/json;charset=utf-8",
        data: JSON.stringify(data),
        success: function(data) {
            if(data['msg'] == 'ok') {
                location.reload()
            } else {
                alert(data["msg"])
            }
        }
    })
}
function EditClick(id) {
    location.href = '/user/edit?id=' + id
}
</script>
{% endblock %}
