{% extends "base.html" %} 
{% block title %}New Source-{{super()}}{% endblock %}
{% block head %} 
{{ super() }}
{% endblock %} 
{% block page_content %}
<div>
    <ul class="nav nav-tabs actions-nav">
        <li ><a href="{{url_for('user.index')}}">Users</a></li>
        <li class="active"><a href="{{url_for('user_create')}}">Create</a></li>
        <li ><a href="{{url_for('user.weibo')}}">Weibo</a></li>
    </ul>
    <div>
    {{wtf.quick_form(form)}}
    </div>
</div>
{% endblock %} 
{% block scripts %} 
{{ super() }}
{% endblock %}
